<div class="col ps-md-2 pt-2">
    <div class="page-header ">
        <div class="navbar navbar-expand-md   px-0 sticky-top">
            <div class="container-fluid">
                <h2>Welcome</h2>
            </div>
        </div>
    </div>
</div>