<div class="container">
<form class="form login-form">
    <div class="bg-light bg-opacity-50 d-flex mt-5">
        <div class="card text-center m-auto" style="width: 25rem;">
            <div class="card-body"><h5>Log In</h5>
                    <!--User -->
                    <input type="text" class="form-control text-center my-2 bg-light" id="loginUser"  placeholder="e-mail" aria-label="e-mail" aria-describedby="addon-wrapping">          
                    <!--Password -->
                    <input type="password" class="form-control text-center my-2 bg-light" id="loginPass" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping">          
                <div class="d-grid gap-2">
                    <!--LoginBtn -->
                    <button class="btn btn-dark" type="submit" id="btnSubmit">Next</button>
                </div >
            </div>
        </div>
    </div>
</form>
</div>
<script src="./js/login.js"></script>