<div class="container">
<form class="form signup-form">
    <div class="bg-light bg-opacity-50 d-flex mt-5">
        <div class="card text-center m-auto" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><h5>Sign Up</h5>
                    <!--User -->
                    <input type="text" class="form-control text-center my-2 bg-light" id="signupUser"  placeholder="e-mail" aria-label="e-mail" aria-describedby="addon-wrapping">
                    <!--UserName -->
                    <input type="text" class="form-control text-center my-2 bg-light" id="signupUsername"  placeholder="Username" aria-label="username" aria-describedby="addon-wrapping">  
                    <!--Password -->
                    <input type="password" class="form-control text-center my-2 bg-light" id="signupPass" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping">          
                <div class="d-grid gap-2">
                    <!--LoginBtn -->
                    <button class="btn btn-dark" type="submit" id="btnSubmit">Next</button>
                </div >
            </div>
        </div>
    </div>
</form>
</div>